.error {
    color: red;
    font-weight: 600;
}

form > div {
    margin: 10px 0;
}

form > div > * {
    margin: 0 10px;
}

form label {
    min-width: 275px;
}

form input {
    min-width: 250px;
}
